*{
  font-family: 'open Sans', sans-serif;
}
.killer{
  position: inherit;
}
body{
  padding: 0;
  margin: 0;
  background: #93AAED;
}
body.dark {
  background: black;
}
button{
  align-content: center;
  cursor: pointer;
  font-size: 3rem;
  outline: none;
  background-color: gray;
  height: 100px;
  width: 100px;
}
.base{
  background-color: white;
  width: 400px;
  height: 500px;
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  border-color: gray;
  border-style: outset;
  border-width: 10px;
}
.switch{
  background-color: white;
  width: 100px;
  height: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: gray;
  border-style: double;
  border-width: 5px;
  text-align: center;
  display: block;
}
/* .top{
  width: 100px;
  height: 100px;
  background-color: gray;
  display: table;
  text-align: center;

}
.bottom{
  width: 100px;
  height: 100px;
  background-color: white;
  display: table;
  text-align: center;
} */
.screw1{
  height: 30px;
  width: 30px;
  background: gray;
  border-radius: 50%;
  margin:auto;
  margin-top: 15%;
}
.screw2{
  height: 30px;
  width: 30px;
  background: gray;
  border-radius: 50%;
  margin:auto;
  margin-top: 80%;
}
