body{

}
.blue{
  width: 5vw;
  height: 5vw;
  background-color: #5CB6FF;
  float: left;
}
.orange{
  width: 5vw;
  height: 5vw;
  background-color: #E09F3A;
  float: left;
}
.board{
  width: 40vw;
  display: flow-root;
  margin: 100px auto;
}
.cboard{
  width: 38vw;
  display: flow-root;
  margin: 100px auto;
}
.head{
  width: 38vw;
  height: 5vw;
  background-color: #4253FF;
  float: left;
  margin-bottom: 1vw;
}
.line{
  width: 38vw;
  height: 1vw;
  background-color: #75FF9C;
  float: left;
  margin-bottom: 1vw;
}
.content{
  width: 12vw;
  height: 24vw;
  background-color: #FF4F4F;
  float: left;
}
.mcontent{
  width: 12vw;
  height: 24vw;
  background-color: #FF4F4F;
  float: left;
  margin-right: 1vw;
  margin-left: 1vw;
}
.foot{
  width: 38vw;
  height: 5vw;
  background-color: #4253FF;
  float: left;
  margin-top: 1vw;
}
