.head{
  width: 500px;
  height: 425px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  top: 200px;
  left: 125px;
}
.ear-l{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid black;
  position: absolute;
  top: 80px;
  left: 125px;
}
.ear-r{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid black;
  position: absolute;
  top: 80px;
  left: 425px;
}
.eye-l{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid white;
  transform: rotate(200deg);
  position: absolute;
  top: 325px;
  left: 150px;
}
.eye-r{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid white;
  transform: rotate(160deg);
  position: absolute;
  top: 325px;
  left: 400px;
}
.mouth{
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 480px;
  left: 225px;
}
.mouth-i{
  width: 200px;
  height: 10px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top: 525px;
  left: 280px;
}
